* {
  padding: 0;
  margin: 0;
}

h1 {
  color: rgb(216, 253, 2);
  text-align: center;
  font-size: 50px;
  font-family: fantasy;
  font-weight: initial;
}
#enter {
  color: ;
  position: center;
  margin-top: 50px;
  margin-left: 600px;
  padding: 5px;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(5, 5, 5);
}
#pass {
  margin-top: 50px;
  border-radius: 15px;
  margin-left: 600px;
  padding: 5px;
  margin-top: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login {
  font-family: sans-serif;
  font-weight: bold;
  font-size: medium;
  margin-left: 48%;
  width: 100px;
  margin-top: 20px;
  color: white;
}
.login:hover {
  color: ;
}
.gradient {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
    to right,
    purple,
    blue,
    skyblue,
    green yellow,
    orange,
    red
  );
}
